NODE_ENV=production
PORT=3000
DATABASE_URL=postgresql://lazer:7O670eEGbCJDR22cQMtpdsiZXtztsJEQ@127.0.0.1:5432/lazer?schema=public
JWT_SECRET=uJCUvjY+2Uiiyqt3PiqaytHXOSUl14pZPqdLmMPchHGlmx8x1/UOHF80TiDeAytu
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
SWAGGER_PATH=api/docs
MAX_IMPORT_FILE_SIZE_MB=10
LOYALTY_VISITS_BEFORE_FREE_ZONE=6
RESERVATION_SLOT_START=09:00
RESERVATION_SLOT_END=18:00
RESERVATION_SLOT_MINUTES=30
